<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <div>
          <ion-card>
          <ion-card-header>
            <ion-card-title>S'inscrire</ion-card-title>
          </ion-card-header>

          <ion-card-content>
          <!-- Input with placeholder -->
          <ion-input [(ngModel)]="username" placeholder="Pseudo"></ion-input>

          <!-- Input with placeholder -->
          <ion-input [(ngModel)]="password" type="password" placeholder="Mot de passe"></ion-input>

          <div text-center>
          <ion-button (click)="register();" color="medium">s'inscrire</ion-button>
          <ion-button [routerLink]="['/home']" color="medium">retour</ion-button>
        </div>
        </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
